ion-segment-button{
    text-transform:unset!important
}
ion-header{
    ion-toolbar{
      --color:white;
      .cantitems{
        box-sizing: unset;
        position: absolute;
        font-size: 10px;
        z-index: 1;
        border-radius: 20px;
        bottom: 12px;
        right: 0px;
        left: 12px;
        background: white;
        color: #00b6c7;
    }
      ion-icon{
        font-weight: bold;
        font-size: 29px;
      }
      --background:#00b6c7;
    }
  }
ion-col{
    padding-inline-start:0.6px;
    padding-inline-end:0.6px;
    padding-top:0px;
    padding-bottom:0px;
    
    ion-card{
        margin: 0px;
        margin-inline:0px!important;
        border: #dadadada solid 0.5px;
        border-bottom: none;
        border-top: none;
        border-right: none;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px -9px, rgb(0 0 0 / 10%) 0px 1px 0px -9px, rgb(0 0 0 / 10%) 0px 0px 0px -9px;
        border-radius: 0px;
        .nodataimg{
            width: 65%;
            display: block;
            margin: auto;
            margin-top: 20px;
        }
        .nodatatxt{
            text-align: center;
            h5{
                font-size: 18px;
            }
            
        }
        
        .promoimg{
            z-index: 1;
            position: absolute;
            top: 126px;
        }
        .badgeEtiqueta{
            z-index: 1;
            top: 5px;
            position: absolute;
            padding: 7px;
            font-size: 10px;
            border-radius: 0px;
            --background:#c2c2c2;
            
        }
        .dcto{
            z-index: 1;
            position: absolute;
            padding: 7px;
            top: 29px;
            font-size: 10px;
            border-radius: 0px;
        }
        .pocas{
            --background:#d34350!important;
        }
        .promo{
            --background:#ffc107!important;
        }
        .nameprod{
            h5{
                margin-bottom: 8px;
                color: #5e5e5e !important;
                font-weight: bold!important;
            } 
        }
        .extra{
            h5{
                color: #5e5e5e !important;
                margin-bottom: 8px;
                font-size: 12px;
            }
        }
        .prices{
            .p1{
                text-decoration: line-through;
                color: #5e5e5e !important;
                font-size: 12px!important;

            }
            .p2{

            }
            .promoPrice{
                color: red;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 17px;
            }
            .dcto{
                z-index: 1;
                position: absolute;
                padding: 7px;
                border-radius: 0px;
            }
        }
    }
    
}
