ion-header{
    ion-toolbar{
        --color:rgb(255, 255, 255);
        .cantitems{
            box-sizing: unset;
            position: absolute;
            font-size: 10px;
            z-index: 1;
            border-radius: 20px;
            bottom: 12px;
            right: 0px;
            left: 12px;
            background: white;
            color: #00b6c7;
        }
        ion-icon{
          font-weight: bold;
          font-size: 29px;
        }
        --background:rgb(0, 182, 199);
        
      }
}
.header-md::after{
    background-image: unset;
   
}
.userinfo{
    margin-inline:unset; 
    box-shadow: unset;
    --background:#00b6c7!important;
    border-radius:0px;
    margin: unset;
    ion-item{
        --background:#00b6c7!important;
        ion-avatar{
            margin-inline-end:0px;
        }
        
    }
    ion-card-subtitle{
        --color: white!important;
    }
    ion-card-title {
        --color: white!important;
    }
}