<ion-card class="headcard">
    <h5 class="title">Productos Relacionados</h5>
</ion-card>

<ion-slides  [options]="slideOpts">
    <ion-slide *ngFor="let prod of products" (click)="catemd.goToProduct(prod.slug)" class="related-item">
    <ion-card>
      <ion-badge class="badgeEtiqueta" [ngClass]="{'promo': prod.etiqueta == 'PROMOCIÓN', 'pocas' : prod.etiqueta == 'POCAS UNIDADES'}">{{prod.etiqueta}}</ion-badge>
      <ion-img [src]="'https://tuhogaronline.com/backTHO/images1/thumb512/'+prod.img[0].url" alt="{{prod.img[0].title}}"></ion-img>
      <ion-img  class="promoimg" [src]="'https://tuhogaronline.com/backTHO/img/promo/'+prod.superpromo+'.png'" alt="{{prod.img[0].title}}" *ngIf="prod.superpromo > 0"></ion-img>
      <ion-card-content>
        <ion-text class="nameprod">
          <h5>{{catemd.shortname(prod.name)}}</h5>
        </ion-text>
        <ion-text color="dark" class="prices">
          <h5 class="promoPrice" >Ahora {{prod.price2 | currency:'COP':'symbol-narrow':'3.0'}}
             <ion-badge color="danger" class="dcto" slot="end">{{catemd.caldcto([prod.price2,prod.price])}}% </ion-badge>
          </h5>
          <h5 class="p1">Antes {{prod.price | currency:'COP':'symbol-narrow':'3.0'}} </h5>
        </ion-text>
      </ion-card-content>
      
    </ion-card>
  </ion-slide>
</ion-slides>

