<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="backPage()">
        <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
      
    </ion-buttons>
    <form  [formGroup]="searchForm">
        <ion-input inputmode="search" clearInput autofocus="true" placeholder="Buscar en TuhogarOnline..." formControlName="txt"></ion-input>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="busqueda">
    <ion-card *ngIf="resultDataC.length">
      <h5>Categorias</h5>
      <ion-card *ngFor="let data of resultDataC" [routerLink]="['/tienda/category',data.slug]" >
        {{data.name}}
      </ion-card>
    </ion-card>
    <ion-card *ngIf="resultDataP">
      <h5>Productos</h5> 
      <ion-card *ngFor="let data of resultDataP" [routerLink]="['/tienda/producto',data.slug]">
        {{shortname(data.name)}}
      </ion-card>
     
    </ion-card>
  </ng-template> 
  <ng-template [ngIf]="!busqueda">
    <ion-card >
      <ion-img class="search" [src]="'/assets/images/search.svg'"></ion-img>
       <h5 class="text-nodata">Buscador...</h5>
    </ion-card>
   
  </ng-template> 
</ion-content>
